@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('./markdown.css');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

html {
  font-size: 62.5%;
}

:root {
  --border-bottom-color: #f2f2f2;
  --primary-button-and-hover-color: #f1356d;
  --paginate-button-color: #fff;
  --box-shadow-color: rgba(0, 0, 0, 0.1);
  --author-name-color: rgba(0, 0, 0, 0.7);
  --border-top-color: #111;
  --keywords-color: #000;
  --body-bg-color: #fafafa;
  --input-bg-color: #fff;
}

body {
  background-color: var(--body-bg-color);
}

.navbar {
  display: flex;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
  border-bottom: 0.1rem solid var(--border-bottom-color);
  padding: 3rem 10rem;
}

.navbar h1 {
  color: #f1356d;
  font-size: 4rem;
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 5rem;
  text-decoration: none;
  padding: 0.6rem;
  font-size: 2rem;
  color: var(--keywords-color);
}

.navbar a:hover {
  color: var(--primary-button-and-hover-color);
}

.content {
  max-width: 100%;
  margin: 4rem auto;
  padding: 1rem 8rem
}

.blog-list-title {
  font-size: 3.5rem;
  color: var(--keywords-color)
}

/*  Home  */

.paginate-btn-container {
  width: 100%;
  height: auto;
  position: relative;
}

.button-paginate {
  font-size: 3rem;
  cursor: pointer;
  padding: 0 2rem;
  border: none;
  background-color: var(--primary-button-and-hover-color);
  color: var(--paginate-button-color);
  border-radius: 10%;
}

.button-left {
  position: absolute;
  left: 0;
}

.button-right {
  position: absolute;
  right: 0;
}

/*  Color Mode  */

.color-mode-container {
  position: fixed;
  z-index: 10;
  bottom: 0;
  right: 0;
  background-color: #fff;
  border: 1px solid #000;
  padding: 1rem;
  display: flex;
  overflow: hidden;
  height: 5%;
  width: 5%;
  justify-content: flex-end;
  border-top-left-radius: 10%;
  border-bottom-left-radius: 10%;
  transform: translateX(60%);
  transition: transform 0.3s ease;
  animation: animate-transform-moon 2.5s;
  animation-iteration-count: 1;
}

@keyframes animate-transform-moon {
  from {
    transform: translateX(-200%);
  } to {
    transform: translateX(60%);
  }
}

.color-mode-container:hover {
  transform: translateX(0);
}

.svg-moon {
  height: 100%;
  width: 100%;
  cursor: pointer;
  stroke: #000;
  stroke-width: 4px;
}

/* blog previews / list */

.blog-preview {
  padding: 2rem 1.6rem;
  margin: 2rem 0;
  border-bottom: 0.1rem solid var(--border-bottom-color);
  transition: transform 0.3s;
}

.blog-preview:hover {
  transform: scale(1.05);
  box-shadow: 1px 3px 5px var(--box-shadow-color);
}

.blog-preview h2 {
  color: var(--primary-button-and-hover-color);
  font-size: 2.5rem;
  margin-bottom: 0.8rem;
}

.blog-preview p {
  font-size: 2rem;
  color: var(--author-name-color);
}

.blog-preview a {
  text-decoration: none;
}

/* blog details page */

.blog-details h2.blog-title {
  font-size: 4rem;
  color: var(--primary-button-and-hover-color);
  margin-bottom: 1rem;
}

.blog-details p.written-by-author,
.blog-details a {
  font-size: 2.5rem;
  color: var(--author-name-color);
}

.blog-body {
  margin: 2rem 0;
  border-top: 2px solid var(--border-top-color);
  border-top-style: dashed;
  font-size: 3rem;
  padding: 1rem 0;
}

.blog-body p,
.blog-body h3 {
  color: var(--keywords-color);
}

.blog-details button {
  background: var(--primary-button-and-hover-color);
  color: var(--paginate-button-color);
  border: 0;
  padding: 0.8rem;
  border-radius: 0.8rem;
  cursor: pointer;
  margin-right: 1rem;
  font-size: 2.5rem;
}

.keywords {
  font-size: 2rem;
  color: var(--keywords-color);
  margin-bottom: 1rem;
}

/*  Recommened  */

.recommended {
  margin-top: 10rem;
}

/* create new blog form */

.create {
  max-width: 80%;
  margin: 0 auto;
  text-align: center;
}

.create label {
  text-align: left;
  display: block;
  font-size: 2.5rem;
  color: var(--keywords-color);
}

.create h2 {
  font-size: 4rem;
  color: var(--primary-button-and-hover-color);
  margin-bottom: 3rem;
}

.create input, .create textarea, .create select {
  width: 100%;
  padding: 0.6rem 1rem;
  margin: 1rem 0;
  border: 1px solid var(--author-name-color);
  box-sizing: border-box;
  font-size: 2rem;
  display: block;
  color: var(--keywords-color);
  background-color: var(--input-bg-color);
}

.create textarea {
  height: 15rem;
}

.create button {
  background: var(--primary-button-and-hover-color);
  color: var(--paginate-button-color);
  border: 0;
  padding: 0.8rem;
  border-radius: 0.8rem;
  cursor: pointer;
  margin-top: 1rem;
  font-size: 2.5rem;
}

.create .learn-to-write,
.create .learn-to-write a {
  font-size: 2rem;
  color: var(--keywords-color);
  margin-top: 1rem;
}

/* 404 Not Found Page */

.not-found {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.not-found img {
  width: 50rem;
}

.not-found h2 {
  font-size: 3rem;
  margin-top: 1rem;
}

.not-found h4 {
  margin-top: 0.5rem;
  font-size: 2rem;
}

/* Search Page */

.search-container form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.search-container form input,
.search-container form select {
  background-color: var(--input-bg-color);
  border: 1px solid var(--author-name-color);
  color: var(--keywords-color);
}

.search-container form input {
  outline: none;
  font-size: 2rem;
}

.search-box {
  width: 80%;
}

.search-container form select {
  font-size: 2rem;
  cursor: pointer;
}

.search-btn {
  font-size: 2.5rem;
  cursor: pointer;
  background-color: var(--primary-button-and-hover-color);
  color: #fff;
  font-weight: 500;
  width: 10%;
  padding: 0.3rem 1rem;
  border: none;
}

/* Edit account */

.signout-btn {
  margin-top: 1rem;
}

.author-image {
  height: 20rem;
  width: 20rem;
  position: relative;
  border-radius: 50%;
}

.fetching-pic {
  color: var(--keywords-color);
}

.profile-pic-container {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.file-input {
  top: 0;
  
}

/*  Bookmark SVG    */

.svg-bookmark {
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
  height: 4rem;
  width: 4rem;
  margin-top: 1rem;
  stroke: var(--author-name-color);
  fill: var(--keywords-color);
}

/* Toast Notification */

.toast-element {
  font-size: 2rem;
}

/* Login to view blogs */

h4.login-to-view {
  font-size: 2.5rem;
}

/* Don't have an account text */

.dont-have-account-text {
  font-size: 2rem;
  margin-top: 1rem;
}

/* About the author */

.about-the-author-heading {
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-button-and-hover-color);
  margin-bottom: 2rem;
}

.author-info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.author-info-container h1.author-name,
.author-info-container p.about-the-author-para,
.author-info-container p.member-since-para {
  color: var(--keywords-color);
}

.author-info-container h1.author-name {
  font-size: 2.3rem;
}

.author-info-container img {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.author-info-container p.about-the-author-para {
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

.author-info-container p.member-since-para {
  font-size: 1.5rem;
  font-weight: 500;
}

span {
  color: var(--keywords-color);
}

/* Learn To Write Blog */

.learn {
  width: 100%;
  height: 30rem;
  font-size: 3rem;
  overflow-x: scroll;
  overflow-y: hidden;
  min-width: 80rem;
}

.learn td, 
.learn th {
  border: 1px solid var(--keywords-color);
  color: var(--keywords-color);
}

.learn td {
  padding: 0 0.5rem;
}

/*************************************************/
/*** Media Queries ***/

@media screen and (max-width: 1116px) {
  .search-btn {
    width: 20%
  }

  .input-amount {
    width: 20%;
  }
}

@media screen and (max-width: 1050px) {
  html {
    font-size: 60%;
  }
  .navbar a {
    margin-left: 1rem;
  }
}

@media screen and (max-width: 908px) {
  html {
    font-size: 55%;
  }
}

@media screen and (max-width: 828px) {
  .navbar a {
    margin-left: 0rem;
  }
}

@media screen and (max-width: 724px) {
  .navbar {
    padding: 3rem 5rem;
  }
}

@media screen and (max-width: 630px) {
  .navbar a {
    margin-left: 1rem;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    padding: 2rem 2rem;
  }

  .content {
    max-width: 100%;
    margin: 4rem auto;
    padding: 1rem 3rem
  }

  .color-mode-container {
    transform: translateX(0);
    animation: none;
  }
}

@media screen and (max-width: 570px) {
  .navbar {
    padding: 2rem 3rem;
  }
}

@media screen and (max-width: 552px) {
  html {
    font-size: 50%;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    padding: 2rem 2rem;
  }

  .navbar a {
    margin-right: 0.5rem;
  }
}

@media screen and (max-width: 486px) {
  .navbar {
    padding: 2rem 1.5rem;
  }

  .navbar a {
    margin-right: 0rem;
  }
}

@media screen and (max-width: 446px) {
  html {
    font-size: 45%;
  }

  .navbar {
    padding: 1rem 3rem;
  }

  .navbar a {
    display: flex;
    margin-right: 0rem;
  }

  .input-amount {
    width: 30%;
  }
}

@media screen and (max-width: 370px) {
  .search-btn {
    width: 40%;
  }

  .search-container form select {
    width: 50%;
  }

  .search-container {
    width: 100%;
  }
}
